*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial;
color:white;
text-align:center;

/* SMOOTH GRADIENT (NO BANDING) */

background: linear-gradient(135deg,#000000,#1a1a1a,#000000);

background-size:400% 400%;
min-height:100vh;

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

}

h1{
color:#ff2770;
margin-bottom:30px;
}

/* EXAM BUTTONS */

.examButtons{
display:flex;
gap:40px;
justify-content:center;
margin-top:30px;
}

.examBox{
text-align:center;
}

button{

background:#45f3ff;
border:none;
padding:10px 20px;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}

button:hover{
background:#00e0ff;
}

.finished{
color:#ff2770;
font-weight:bold;
margin-top:5px;
}

/* TABLE */

table{
margin:auto;
margin-top:20px;
border-collapse:collapse;
width:70%;
}

th,td{
border:1px solid #333;
padding:10px;
}

th{
color:#ff2770;
}

input{
width:70px;
text-align:center;
}

.pass{color:lime;font-weight:bold;}
.fail{color:red;font-weight:bold;}
.absent{color:orange;font-weight:bold;}

#gradingPage{
display:none;
}

.stats{
margin-top:20px;
font-size:18px;
}